<h2>Feeds</h2>
<ul>
  <% feeds.each(function (feed) {  %>
    <li>
      <a href="#/feeds/<%=feed.id%>">
        <%= feed.escape('title') %>
      </a>
    </li>
  <% }); %>
</ul>

<h2>Create a new post</h2>
<form id='new-post'>
  <label>Title
    <input type="text" name="feed[title]">
  </label>
  
  <label>URL
    <input type="text" name="feed[url]">
  </label>
  
  <button>Submit</button>
</form>